<footer>
  <div class='container'>
    <div class='row'>

      <div id='footer-quote' class='span8 hyphenate'>
        <blockquote>
          "A good educational system should have three purposes: provide all who want to learn with access to available resources at any time in their lives; empower all who want to share what they know to find those who want to learn it from them; and, finally, furnish all who want to present an issue to the public with the opportunity to make their challenge known."
        </blockquote>

        <div class='row'>
          <div class='span5 offset1' id='scrapbook-lede'>
            &hellip; interested to see more of what inspires us?  Check out <a href='http://thesprouts.tumblr.com'>our tumblr</a>, a scrapbook of visions of the future of learning.
          </div>
           
          <div class='quote-author span2'><i class='icon-bookmark'></i> Ivan Illich</div>
        </div> <!-- ends .row -->
        
        <div id='sprout-elsewhere'>
          <span class='legend'>elsewhere</span>
          <div id="lifestream">&nbsp;</div>
        </div>
      </div> <!-- ends div#footer-quote -->

      <div id='footer-connect' class='span4'>
        <div id='connect'>

          <div id='newsletter-container'>
            <form action="https://tinyletter.com/thesprouts" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/thesprouts', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          
              <span class='legend'>subscribe to our newsletter</span>
          
              <span class="help-block">(and/or hop onto the <a href='https://groups.google.com/group/sprout-discuss'>sprout-discuss</a> list!)</span>
          
              <input type="text" name='email' id='tlemail' placeholder="Your email address">
          
              <input type="hidden" value="1" name="embed"/>
          
              <button type="submit" class="btn"><i class='icon-share-alt'></i></button>
          
            </form>
          </div> <!-- ends div#newsletter-container -->

          <div id='social-container'>
            <span class='legend'>follow us</span>

            <ul id='elsewhere'>
              <li id='twitter'><a href='https://twitter.com/sprouts'><div class='web-twitter'></div></a></li>
              
              <li id='tumblr'><a href='https://thesprouts.tumblr.com'><div class='web-tumblr'></div></a></li>

              <li id='facebook'><a href='https://www.facebook.com/somesprouts'><div class='web-facebook'></div></a></li>
              
              <li id='feed'><a href='/feed.xml'><div class='web-feed'></div></a></li>
            </ul>
          </div> <!-- ends div#social-container -->

          <div id='email-container'>
            <span class='legend'>drop us a line</span>

            <form id='email-us-form' method='post'>
              <fieldset>
                <span class='help-block'><a href='mailto:three-two-one.contact@thesprouts.org'>Send us an email</a> or pop off a message right here&hellip;</span>

                <textarea rows='5' id='email-message' name='body' placeholder="What's up?"></textarea>

                <input id='message-author' type="text" placeholder="Your email address" class='text' name='email'/>

                <button id='email-us-button' type="submit" class="btn"><i class='icon-envelope'></i></button>
              </fieldset>
            </form>
          </div> <!-- ends div#email-container -->
        </div> <!-- ends #connect -->
      </div> <!-- ends div#footer-contact -->
    </div> <!-- ends div.row -->
  </div> <!-- ends div.container -->
</footer>