<header id='home' class='splash'>
  <div class='container'>
  <div class='row'>
    <div id='hero-summary' class='span7'>
      <p>
      Our misison is <em>to make science a cultural activity</em>.
    </p>
      <p>
      We believe science&mdash;like music or storytelling&mdash;can be a tool which helps make sense of and meaning in our lives.
    </p>
    <p>
      Our time's spent creating programs where we prototype our ideas for hardware, software, &amp; media which support investigation. 
    </p>
    </div><!-- ends div.span7 -->

    <div id='logotype' class='span5'>
      <a href='/'>sprout &amp; co.</a>
    </div> <!-- ends div#logotype -->
  </div> <!-- ends div.row -->

  <div id='nav-row' class ='row'>
    <div id='nav' class='span7 offset5'>
      <ul>
        <li><a href='/work'>our work</a></li>
        <li><a href='/about'>about us</a></li>
        <li><a href='/blog'>blog</a></li>
        <li><a href='/connect'>connect</a></li>
      </ul>
    </div> <!-- ends div#nav -->
  </div> <!-- ends div.row -->

  </div> <!-- ends div.container -->

</header>