<header id='home' class='splash'>
  <div class='container'>
    <div class='row'>

    <div id='hero-summary' class='span6'>
      <p>
      Our misison is <em>to make science a cultural activity</em>. We spend out time developing programs where we prototype our ideas for hardware, software, &amp; media which support investigation. 
    </p>
    </div><!-- ends div.span6 -->

    <div class='row span6'>
      <div id='logotype' class='span6'>
        <a href='/'>sprout &amp; co.</a>
      </div> <!-- ends div#logotype -->

      <div id='nav' class='span6'>
        <ul>
          <li><a href='/work'>our work</a></li>
          <li><a href='/about'>about us</a></li>
          <li><a href='/blog'>blog</a></li>
          <li><a href='/connect'>connect</a></li>
        </ul>
      </div> <!-- ends div#nav -->

    </div> <!-- ends div.row -->
  </div> <!-- ends div.container -->

</header>