<header id='home' class='splash'>
  
  <div class='container'>
    <div class='row'>

      <div id='mission' class='span6'>
        <p>
        Our mission is <em>to make science a cultural activity</em>. We spend our time developing programs to prototype our ideas for hardware, software, &amp; media which support scientific investigation. 
      </p>
      </div><!-- ends div#mission -->

      <div id='banner-nav' class='span6'>
        <div id='logotype'>
          <a href='/'>sprout &amp; co.</a>
        </div> <!-- ends div#logotype -->
        
        <div id='nav'>
          <ul>
            <li><a href='/work'>our work</a></li>
            <li><a href='/about'>about us</a></li>
            <li><a href='/blog'>blog</a></li>
            <li><a href='/connect'>connect</a></li>
          </ul>
        </div> <!-- ends div#nav -->
      </div> <!-- ends div#banner-nav -->

    </div> <!-- ends div.row -->
  </div> <!-- ends div.container -->

</header>