{% assign sprite_class = 'work-' | append:work.id %}

<div class='work-hero span4' id='{{ work.id }}'>
  <div class='{{ sprite_class }} work-artifact work'></div><!-- ends div.work-artifact -->

  <div class='established'>
    <span> {{ work.established }} </span>
  </div> <!-- ends div.established -->

  <div class='name'>
    <span> {{ work.name }} </span>
  </div> <!-- ends div.name -->

  <div class='work-description hyphenate'>
    {% assign description_path = 'work/' | append:work.id | append:'.html' %}
    {% include {{ description_path }} %}
  </div> <!-- ends div.work-description -->
</div> <!-- ends div.work-hero#{{work.id}} -->