<style type='text/css'>
#{{ work.id }} .work-artifact {
  {% assign background_img_url = '/img/work/' | append:work.id | append: '.png' %}
  background: url('{{ background_img_url }}') no-repeat;
  background-position: {{ work.bg_pos | first }}% {{ work.bg_pos | last }}%;
  background-size: {{ work.bg_size }};
}
</style>

<div class='work-hero span4' id='{{ work.id }}'>
  <div class='work-artifact'></div><!-- ends div.work-artifact -->

  <div class='established'>
    <span> {{ work.established }} </span>
  </div> <!-- ends div.established -->

  <div class='name'>
    <span> {{ work.name }} </span>
  </div> <!-- ends div.name -->

  <div class='work-description'>
    {% assign description_path = 'work/' | append:work.id | append:'.html' %}
    {% include {{ description_path }} %}
  </div> <!-- ends div.work-description -->
</div> <!-- ends div.work-hero#{{work.id}} -->