{% assign sprite_class = 'work-' | append:work.id %}

<!-- ... {{ work.id }} ... -->
<div class='work-entry span4' id='{{ work.id }}'>

  <div class='{{ sprite_class }} work-artifact'></div><!-- ends div.work-artifact -->

  <div class='established'>
    <span> {{ work.established }} </span>
  </div> <!-- ends div.established -->

  <div class='name'>
    <span> {{ work.name }} </span>
  </div> <!-- ends div.name -->

  <div class='work-description'>
    <p class='hyphenate'>
      {% assign description_path = 'work/' | append:work.id | append:'.html' %}
      {% include {{ description_path }} %}
    </p>
  </div> <!-- ends div.work-description -->

</div> <!-- ends div.work-entry#{{work.id}} -->