---
title: about us
layout: default
us:
-
  id: 'alec-resnick'
-
  id: 'shaunalynn-duffy'
-
  id: 'molly-josephs'
board:
-
  name: "Bakhtiar Mikhak"
  id: 'bakhtiar-mikhak'
-
  name: "John Bell"
  id: 'john-bell'
-
  name: "Beth O'Sullivan"
  id: 'beth-osullivan'
---

<div class='page-summary row'>
  <div class='span8 offset2'>
    <h2 class='page-title'>{{ page.title }}</h2>
    
    <p>
      sprout grew from our collective desire for rich, social learning experiences.  That desire has become a driving interest in the design of tools &amp; media to support creative investigation into computation and storytelling.  Interested in working with us? <a href='/connect'>Let us know!</a>
    </p>
  </div>
</div> <!-- ends div.page-summary -->
  
<hr class='page-summary-delimiter'>



<div id='team' class='row page-section'>
  <h2>Our Team</h2>
  {% for who in page.us %}
    {% include signed_who_item.html %}
  {% endfor %}
</div> <!-- ends div#team -->


<div id='board' class='row page-section'>
  <h2>Our Board</h2>
  {% for who in page.board %}
    {% include who_item.html %}
  {% endfor %}
</div> <!-- ends div#board -->
