---
layout: default
title: our blog
---

<div class='page-summary hyphenate row'>
    <div class='span8 offset2'>
        <h2 class='page-title'>{{ page.title }}</h2>
        <p>
            Here's where we'll occasionally write about our work in an attempt to better understand our experiences, both personal &amp; professional. Related: over at <a href='http://thesprouts.tumblr.com'>our tumblr</a>, you can find something of a scrapbook of inspiring and provocative tidbits we run across.
        </p>
    </div>
</div>
<!-- ends div.page-summary -->
<hr class='page-summary-delimiter'>
<div id='blog-posts' class='row page-section'>
    {% assign num_front_posts = 1 %} {% for post in site.posts limit:num_front_posts %} {% include post.html %}
    {% unless forloop.last %}
    <hr class='section-divider'>
    {% endunless %}
    {% endfor %}
</div>
<!-- ends div#blog-posts -->
{% if site.posts.size > num_front_posts %}
<div class='page-end-delimiter span12'></div>
<div class='blog-toc row'>
    <h2 class='page-section'>Archives</h2>
    {% for post in site.posts offset:num_front_posts %}
    {% cycle 'add rows': '<div class="blog-toc-container row">', '', '' %}
        <div class="blog-toc-card span4 {% cycle 'blog-toc-card': 'even', 'odd' %}">
            <h3 class='title'><a href='{{ post.url }}'>{{ post.title }}</a></h3>
            <div class='lede-info'>drafted {% if post.author %} by {{ post.author }} {% endif %} on {{ post.date | date_to_long_string }}</div>
            <!-- ends .lede-info -->
            <div class='lede'> {{ post.summary }} </div>
            <!-- ends .lede -->
        </div>
        <!-- ends .blog-toc-card -->
        {% cycle 'end rows': '', '', '</div>' %}
    {% endfor %}
</div>
<!-- ends div.blog-toc.row -->
{% endif %}