---
layout: default
title: connect
channels:
-
  id: email
  description: "You can <a href='https://tinyletter.com/thesprouts'>sign up for the.grapevine</a> (our newsletter), join the <a href='https://groups.google.com/group/sprout-discuss'><span class='verbatim'>sprout-discuss</span></a> list, or <a href='mailto:three.two.one-contact@thesprouts.org'>email us</a> anytime."
-
  id: twitter
  description: "<a href='http://twitter.com/sprouts'>@sprouts</a> for updates; <a href='http://twitter.com/aresnick'>@aresnick</a> for Alec or <a href='http://twitter.com/shduff'>@shduff</a> for Shaunalynn."
-
  id: tumblr
  description: "<a href='http://thesprouts.tumblr.com'>pollen</a> is our tumblr: a scrapbook for bits &amp; pieces we think say something interesting about the future of learning."
-
  id: facebook
  description: "Head over to <a href='https://www.facebook.com/somesprouts'>our Facebook page</a> to keep up with events and other fans &amp; friends of sprout."
---

<div class='page-summary row'>
  <div class='span8 offset2'>
    <h2 class='page-title'>{{ page.title }}</h2>
      <p>
        We're always on the lookout for new opportunities &amp; collaborations that might give us a chance to better understand learning. Get in touch if you have an idea!
      </p>
  </div>
</div> <!-- ends div.page-summary -->


<hr class='page-summary-delimiter'>


<div id='connect-options' class='row'>

  <div id='elsewhere-option' class='page-section span4'>
    <h2>Elsewhere</h2>

    {% for channel in page.channels %}
      {% include elsewhere_option.html %}
    {% endfor %}

  </div> <!--ends #elswhere.page-section --> 


  <div id='our-studios-option' class='page-section span4'>
    <h2>Our Studios</h2>

    <div class='section-summary hyphenate'>
      <p>
        Our studios are a place for us to prototype <a href='/work'>our projects and programs</a>.  They have a mix of light manufacturing, arts &amp; crafts, wet lab, and electrical engineering equipment. While we've made them public in the past, they are now mainly for use by our organization, but please get in touch if you have a question about them!
      </p>
    </div> <!-- ends .section-summary -->

    <a href='http://goo.gl/maps/nAvfW'>
      <div id='sprout-map' class='web-sprout-map'></div>
    </a>
  </div> <!-- ends #our-studios -->


  <div id='support-sprout-option' class='page-section span4'>
    <h2>Support sprout</h2>

    <div class='section-summary hyphenate'>
      <p>
        If you like what sprout does and would like to <em>make a [tax-deductible] donation</em> to support our future efforts, thank you! We are a registered, 501(c)3 nonprofit and would love to hear from you.  Or if you're ready to donate, just enter your information below and we'll email you a receipt and be in touch.  If you have any questions or if you've some other type of donation (<i>e.g.</i> equipment, tools, or other materials) to make, <a href='mailto:three.two.one-contact@thesprouts.org'>drop us a line</a>. We'd love to hear from you, and we are so grateful for the support.
      </p>
    </div> <!-- ends .section-summary -->


<!--     <form id='donate' class="row form-inline" action="/charge" method="post">

      <div id='email-container' class='span4'>
        <i class='icon-envelope'></i><input id='email' name="email" type="text" class="input-small" placeholder="Your email address">
      </div> 

      <div id='donation-container' class='span4'>
        <span id='dollar'>$</span><input id='donation_amount' name="donation_amount" type="text" class="input-small" placeholder="How much?">
        
        <script src="https://button.stripe.com/v1/button.js" class="stripe-button"
              data-key="pk_live_p4dxHdvEzJ6fmwJ4QQseQLXX  "
              data-amount=""
              data-label="Donate"></script>
      </div> 
    </form>  -->
  </div> <!-- ends #support-sprout -->

</div> <!-- ends #connect-options -->
