---
layout: default

title: our work

portfolio_items:
-
  id: 'powderhouse_studios'
  name: "Powderhouse Studios"
  established: "2012&ndash;present"
  link: 'http://powderhouse.org'
  category: present
- 
  id: 'steam_at_healey'
  name: 'STEAM @ Healey'
  established: "2016&ndash;present"
  link: 'http://thesprouts.github.io/healey/'
  category: present
-
  id: 'turtle_geometry'
  name: "Turtle Geometry"
  established: "2012&ndash;present"
  link:
  category: present
-
  id: 'dgmd'
  name: "Creative Explorations in Physical and Screen-based Computing"
  established: "2014&ndash;2016"
  link: 'https://dgmd.github.io/'
  category: past
-
  id: 'codman_ccp'
  name: "Creative Computer Coding"
  established: "2015&ndash;2016"
  link: 'https://thesprouts.github.io/ccp/'
  category: past
-
  id: 'codman_hli'
  name: "Interactive, Digital Storytelling"
  established: "2015&ndash;2016"
  link: 'https://thesprouts.github.io/hli/'
  category: past
-
  id: 'sprout_spaghetti_dinners'
  name: "sprout Spaghetti Dinners"
  established: "2009&ndash;2014"
  link: 'http://thesprouts-spaghetti.tumblr.com/'
  category: past
-
  id: 'signs_of_life'
  name: "Signs of Life"
  established: "2012&ndash;"
  link:
  category: past
-
  id: 'parade_floats'
  name: "Parade Floats!"
  established: "2012"
  link:
  category: past
-
  id: 'flutes_and_waves'
  name: "Flutes &amp; Waves"
  established: "2010&ndash;-2011"
  link:
  category: past
-
  id: 'ecomodding_your_home'
  name: "Ecomodding Your Home"
  established: "2010"
  link:
  category: past
-
  id: 'quantified_self'
  name: "Quantified Self"
  established: "2011&ndash;2013"
  link: 'http://quantifiedself.com/'
  category: past
-
  id: 'playing_math'
  name: "Playing Math"
  established: "2009&ndash;2011;"
  link:
  category: past
-
  id: 'byg2md'
  name: "Bring Your Grandma to Math Day"
  established: "2009&ndash;2012"
  link:
  category: past
-
  id: 'streetbeest'
  name: "The Streetbeest"
  established: "2010"
  link: "https://www.flickr.com/search/?text=streetbeest"
  category: past
-
  id: 'engineering_the_wind'
  name: "Engineering the Wind"
  established: "2010&ndash;2011;"
  link:
  category: past
-
  id: 'science_of_sourdough'
  name: "Science of Sourdough"
  established: "2010"
  link:
  category: past
-
  id: 'overthinking_board_games'
  name: "Overthinking Board Games"
  established: "2010"
  link:
  category: past
-
  id: 'simulation_and_nature_in_design'
  name: "Simulation &amp; Nature in Design"
  established: "2009&ndash;2010"
  link: 'http://n-e-r-v-o-u-s.com/education/simulation/'
  category: past
-
  id: 'unlocking_locks'
  name: "Unlocking Locks"
  established: "2009&ndash;2010"
  link:
  category: past
-
  id: 'magnetic_machines'
  name: "Magnetic Machines"
  established: "2009&ndash;2010"
  link:
  category: past

collaborators:
  - [somerville_public_schools, "http://www.somerville.k12.ma.us/education/components/scrapbook/default.php?sectionid=1"]
  - [xq, "https://xqsuperschool.org/"]
  - [codman, "http://www.codmanacademy.org/"]
  - [google, "https://www.google.com/edu/cape/"]
  - [shady_hill_school, "http://shs.org/"]
  - [parts_and_crafts, "http://partsandcrafts.org/"]
  - [eliot_school, "http://www.eliotschool.org/"]
  - [umass_boston, "http://www.umb.edu/"]
  - [ginger_io, "http://ginger.io/"]
  - [redhat, "http://redhat.com"]
  - [artscience, "http://www.artscienceprize.org/asp/"]
  - [mit_sloan, "http://mitsloan.mit.edu/"]
  - [tremont_school, "http://tremontschool.org/"]
  - [mass_dot, "http://www.eot.state.ma.us/developers/"]
  - [tufts, "http://www.excollege.tufts.edu/"]
  - [city_of_somerville, "http://www.somervillema.gov/"]
  - [maimonides, "http://rav.org/"]
  - [mit, "http://web.mit.edu/"]
  - [jaffrey_rindge, "http://www.sau47.k12.nh.us/"]
  - [artists_in_context, "http://www.artistsincontext.org/"]
---

<div class='page-summary row'>
  <div class='span8 offset2'>
    <h2 class='page-title'>{{ page.title }}</h2>
  </div>
</div> <!-- ends div.page-summary -->

<hr class='page-summary-delimiter'>

<div id='projects-and-programs' class='page-section'>
  <h2>Current Projects</h2>

  {% for work in page.portfolio_items %}
  {% if work.category == 'present' %}
  {% cycle 'open work rows': '<div class="work-container row">', '', '' %}
  {% include work_item.html %}
  {% cycle 'close work rows': '', '', '</div> <!-- ends div.work-container.row -->' %}
  {% if forloop.last %}
  </div> <!-- ends div.work-container.row -->
  {% endif %}
  {% endif %}
  {% endfor %}
</div> <!-- ends div#projects-and-programs -->

<hr>

<div id='projects-and-programs' class='page-section'>
  <h2>Past Portfolio</h2>

  {% for work in page.portfolio_items %}
  {% if work.category == 'past' %}
  {% cycle 'open work rows': '<div class="work-container row">', '', '' %}
  {% include work_item.html %}
  {% cycle 'close work rows': '', '', '</div> <!-- ends div.work-container.row -->' %}
  {% if forloop.last %}
  </div> <!-- ends div.work-container.row -->
  {% endif %}
  {% endif %}
  {% endfor %}
</div> <!-- ends div#projects-and-programs -->

<hr>

<div id='collaborators' class='page-section'>
  <h2>Selected Collaborators</h2>
  {% for collaborator_pair in page.collaborators %}
  {% assign collaborator = collaborator_pair | first %}
  {% assign collaborator_url = collaborator_pair | last %}
  {% cycle 'open collaborator rows': '<div class="collaborator-container row">', '', '', '' %}
  <div class='collaborator-logo span3'>
    <a href='{{ collaborator_url }}'>
      <div class='vertical-centering outer'>
        <div class='vertical-centering middle'>
          <div class='vertical-centering inner collaborator {{ "collaborators-" | append: collaborator }}'></div>
        </div> <!-- ends .middle -->
      </div> <!-- ends .outer -->
    </a>
  </div>
  {% cycle 'close collaborator rows': '', '', '', '</div> <!-- ends div.collaborator-container.row -->' %}
  {% if forloop.last %}
  </div> <!-- ends div.collaborator-container.row -->
  {% endif %}
  {% endfor %}
</div> <!-- ends div#collaborators -->
