---
layout: default
is_splash: true
work_features:
- 
  id: 'somerville_steam_academy'
  name: "Somerville STEAM Academy"
  established: "2012&ndash;"
-
  id: 'sprout_spaghetti_dinners'
  name: "sprout Spaghetti Dinners"
  established: "2009&ndash;"
- 
  id: 'signs_of_life'
  name: "Signs of Life"
  established: "2012&ndash;"
---

<div class='featurette' id='work'>

    <a href='/work'><h2 class='featurette-title'>Our Work</h2></a>
    <div class='featurette-details'>
      <p class='hyphenate'>
      We&#8217;re always looking for sandboxes where we can explore novel ways of supporting playful, scientific investigation&mdash;and developing the tools and materials that requires.  Got a lead on something that might interest us? <a href='/connect'>Let us know</a>!
    </p>
    </div> <!-- ends div.featurette-details -->

  <div class='work-container row'>
    {% for work in page.work_features %}
    {% include work_item.html %}
    {% endfor %}
  </div> <!-- ends div.work-container.row -->

  <div class='read-more' id='work-read-more'><a href='/work'>explore our portfolio&hellip;</a></div>
</div> <!-- ends div#work -->


<div class='featurette' id='about'>
<hr class='section-divider'>

  <a href='/about'><h2 class='featurette-title'>About Us</h2></a>
  
  <div class='featurette-details'>
    <p class='hyphenate'>
    sprout grew from our collective desire for rich, social learning experiences.  That desire has become a driving interest in the design of tools &amp; media to support creative, scientific investigation.  Interested in working with us? <a href='/connect'>Let us know!</a>
  </p>
  </div> <!-- ends div.featurette-details -->

  <div id='headshots-container' class='row'>
    <div class='bio-container span4'>
      <div id='alec-resnick' class='who'>
        <div class='headshot us-alec-resnick'></div>
        <div class='us-alec-resnick-name name'></div>
      </div> <!-- ends div#alec-resnick -->
      <div class='bio hyphenate'>
        Alec cares about the <b>tools</b> we use to think, learn, and explore.  Before sprout, he studied math &amp; physics at MIT and co-founded nublabs, an electromechanical design consultancy.
      </div>
    </div>

    <div class='bio-container span4'>
      <div id='shaunalynn-duffy' class='who'>
        <div class='headshot us-shaunalynn-duffy'></div>
        <div class='us-shaunalynn-duffy-name name'></div>
      </div> <!-- ends div#shaunalynn-duffy -->
      <div class='bio hyphenate'>
        Shaunalynn is focused on what makes for a <b>healthy learning community</b>.  Before sprout, she studied environmental engineering &amp; writing at MIT.
      </div>
    </div>
    
    <div class='bio-container span4'>
      <div id='michael-nagle' class='who'>
        <div class='headshot us-michael-nagle'></div>
        <div class='us-michael-nagle-name name'></div>
      </div> <!-- ends div#michael-nagle -->
      <div class='bio hyphenate'>
        Nagle's passion is building <b>environments for sustainable inquiry</b> for kids &amp; adults.  Before sprout, he co-founded Camp Kaleidoscope (now <a href='partsandcrafts.org'>Parts &amp; Crafts</a>) and the Kaleidoscope Homeschooling Center.
      </div>
    </div>

  </div>
    <div class='read-more' id='about-read-more'><a href='/about'>get to know our team&hellip;</a></div>
</div> <!-- ends div#about -->

<div class='featurette' id='blog'>
<hr class='section-divider'>

<a href='/blog'><h2 class='featurette-title'>Our Blog</h2></a>
  <div class='featurette-details'>
    <p class='hyphenate'>
    Here&#8217;s where we write about our work in an attempt to better understand our experiences, both personal &amp; professional.  Related: over at <a href='http://thesprouts.tumblr.com'>our tumblr</a>, you can find something of a scrapbook of inspiring and provocative tidbits we run across.
  </p>
  </div> <!-- ends div.featurette-details -->

<div id='blog-posts' class='row'>
{% for post in site.posts limit:3 %}
  <div class='blog-container span4 {% cycle "even", "odd"%}' >
    <div class='spacer'>
    <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>
    <div class='blog-post-date'>posted {{ post.date | date_to_long_string }}</div>
    <div class='blog-post-summary'>
      <p>
        {{ post.summary }}
      </p>
      <hr>

      <blockquote>{{ post.content | lede_filter | strip_html | truncatewords: post.excerpt_length | truncate: 347 | strip_regex: '/^[^A-Za-z]+/', '/[\n]+/' }}
        <div class='body-fadeout'></div>
      </blockquote>
    </div>
  </div> <!-- ends div.spacer -->
  </div>
{% endfor %}
</div>
{% if site.posts.size > 3 %}}
<div class='read-more' id='about-read-more'><a href='/blog'>peruse the archives&hellip;</a></div>
{% endif %}
</div> <!-- ends div#blog -->
