---
layout: default
title: making science a cultural activity since 2008
is_splash: true
work_features:
- 
  id: 'somerville_steam_academy'
  name: "Somerville STEAM Academy"
  established: "2012&ndash;"
-
  id: 'sprout_spaghetti_dinners'
  name: "sprout Spaghetti Dinners"
  established: "2009&ndash;"
- 
  id: 'signs_of_life'
  name: "Signs of Life"
  established: "2012&ndash;"
us:
-
  id: 'alec-resnick'
-
  id: 'shaunalynn-duffy'
-
  id: 'michael-nagle'
---

<div class='featurette' id='work'>

    <h2 class='featurette-title'><a href='/work'>Our Work</a></h2>

    <div class='featurette-details hyphenate'>
      <p>
        We&#8217;re always looking for sandboxes where we can explore novel ways of supporting playful, scientific investigation&mdash;and developing the tools and materials that requires.  Got a lead on something that might interest us? <a href='/connect'>Let us know</a>!
      </p>
    </div> <!-- ends .featurette-details -->

  <div class='work-container row'>
    {% for work in page.work_features %}
      {% include work_item.html %}
    {% endfor %}
  </div> <!-- ends .work-container.row -->

  <div class='read-more' id='work-read-more'><a href='/work'>explore our portfolio&hellip;</a></div>

</div> <!-- ends .featurette#work -->


<hr class='section-divider'>


<div class='featurette' id='about'>
  <h2 class='featurette-title'><a href='/about'>About Us</a></h2>
  
  <div class='featurette-details hyphenate'>
    <p>
      sprout grew from our collective desire for rich, social learning experiences.  That desire has become a driving interest in the design of tools &amp; media to support creative, scientific investigation.  Interested in working with us? <a href='/connect'>Let us know!</a>
    </p>
  </div> <!-- ends .featurette-details -->

  <div id='headshots-container' class='row'>
    {% for who in page.us %}
      {% include signed_who_item.html %}
    {% endfor %}
  </div> <!-- ends #headshots-container -->

    <div class='read-more' id='about-read-more'><a href='/about'>get to know our team&hellip;</a></div>
</div> <!-- ends #about -->


<hr class='section-divider'>


<div class='featurette' id='blog'>
  <h2 class='featurette-title'><a href='/blog'>Our Blog</a></h2>

  <div class='featurette-details hyphenate'>
    <p>
      Here&#8217;s where we write about our work in an attempt to better understand our experiences, both personal &amp; professional.  Related: over at <a href='http://thesprouts.tumblr.com'>our tumblr</a>, you can find something of a scrapbook of inspiring and provocative tidbits we run across.
    </p>
  </div> <!-- ends .featurette-details -->

<div id='blog-posts' class='row'>
{% for post in site.posts limit:3 %}
  <div class='blog-container span4 {% cycle "even", "odd"%}'>

    <div class='spacer'>

      <h3><a href='{{ post.url }}'>{{ post.title }}</a></h3>

      <div class='blog-post-date'>posted {{ post.date | date_to_long_string }}</div>

      <div class='blog-post-summary'>
        <p>
          {{ post.summary }}
        </p>
        
        <hr>

        <!-- nutty blockquote behavior: extra carriage return screws with whitespace -->
        <blockquote>{{ post.content | lede_filter | strip_html | truncatewords: post.excerpt_length | truncate: 347 | strip_regex: '/^[^A-Za-z]+/', '/[\n]+/' }}
        </blockquote>
      </div> <!-- ends .blog-post-summary -->

    </div> <!-- ends div.spacer -->

  </div> <!-- ends .blog-container -->
{% endfor %}
</div> <!-- ends #blog-posts -->


{% if site.posts.size > 3 %}}
  <div class='read-more' id='about-read-more'><a href='/blog'>peruse the archives&hellip;</a></div>
{% endif %}
</div> <!-- ends div#blog -->
