---
layout: default

title: our work

portfolio_items:
- 
  id: 'somerville_steam_academy'
  name: "Somerville STEAM Academy"
  established: "2012&ndash;"
-
  id: 'sprout_spaghetti_dinners'
  name: "sprout Spaghetti Dinners"
  established: "2009&ndash;"
- 
  id: 'signs_of_life'
  name: "Signs of Life"
  established: "2012&ndash;"
-
  id: 'turtle_geometry'
  name: "Turtle Geometry"
  established: "2009&ndash;"
- 
  id: 'flutes_and_waves'
  name: "Flutes &amp; Waves"
  established: "2010&ndash;"
-
  id: 'parade_floats'
  name: "Parade Floats!"
  established: "2012&ndash;"
-
  id: 'ecomodding_your_home'
  name: "Ecomodding Your Home"
  established: "2010"
-
  id: 'quantified_self'
  name: "Quantified Self"
  established: "2011&ndash;"
-
  id: 'playing_math'
  name: "Playing Math"
  established: "2009&ndash;2011;"
-
  id: 'byg2md'
  name: "Bring Your Grandma to Math Day"
  established: "2009&ndash;2012"
-
  id: 'streetbeest'
  name: "The Streetbeest"
  established: "2010"
-
  id: 'engineering_the_wind'
  name: "Engineering the Wind"
  established: "2010&ndash;2011;"
-
  id: 'simulation_and_nature_in_design'
  name: "Simulation &amp; Nature in Design"
  established: "2009&ndash;2010"
-
  id: 'unlocking_locks'
  name: "Unlocking Locks"
  established: "2009&ndash;2010"
-
  id: 'science_of_sourdough'
  name: "Science of Sourdough"
  established: "2010"
-
  id: 'overthinking_board_games'
  name: "Overthinking Board Games"
  established: "2010"
-
  id: 'magnetic_machines'
  name: "Magnetic Machines"
  established: "2009&ndash;2010"

collaborators:
  - [somerville_public_schools, "http://www.somerville.k12.ma.us/education/components/scrapbook/default.php?sectionid=1"]
  - [google, "https://www.google.com/edu/cape/"]
  - [shady_hill_school, "http://shs.org/"]
  - [parts_and_crafts, "http://partsandcrafts.org/"]
  - [eliot_school, "http://www.eliotschool.org/"]
  - [umass_boston, "http://www.umb.edu/"]
  - [ginger_io, "http://ginger.io/"]
  - [redhat, "http://redhat.com"]
  - [artscience, "http://www.artscienceprize.org/asp/"]
  - [mit_sloan, "http://mitsloan.mit.edu/"]
  - [tremont_school, "http://tremontschool.org/"]
  - [mass_dot, "http://www.eot.state.ma.us/developers/"]
  - [tufts, "http://www.excollege.tufts.edu/"]
  - [city_of_somerville, "http://www.somervillema.gov/"]
  - [maimonides, "http://rav.org/"]
  - [mit, "http://web.mit.edu/"]
  - [jaffrey_rindge, "http://www.sau47.k12.nh.us/"]
  - [artists_in_context, "http://www.artistsincontext.org/"]
---

<div class='page-summary row'>
  <div class='span8 offset2'>
    <h2 class='page-title'>{{ page.title }}</h2>
    <p class='hyphenate'>
    Whether working with local families, companies, universities, or schools, our focus is finding interesting, flexible contexts to prototype novel tools &amp; materials supporting creative, scientific inquiry. Got a lead?  <a href='/connect'>Drop us a line!</a>
  </p>
  </div>
</div> <!-- ends div.page-summary -->
  
<hr class='page-summary-delimiter'>

<div id='projects-and-programs' class='page-section'>
  <h2>Selected Projects &amp; Programs</h2>

  {% for work in page.portfolio_items %}
  {% cycle 'open work rows': '<div class="work-container row">', nil, nil %}
  {% include work_item.html %}
  {% cycle 'close work rows': nil, nil, '</div> <!-- ends div.work-container.row -->' %}
  {% if forloop.last and forloop.length-forloop.index*(forloop.length/forloop.index) != 0 %}
  </div> <!-- ends div.work-container.row -->
  {% endif %}
  {% endfor %}
</div> <!-- ends div#projects-and-programs -->

<hr>

<div id='collaborators' class='page-section'>
  <h2>Selected Collaborators</h2>
  {% for collaborator_pair in page.collaborators %}
  {% assign collaborator = collaborator_pair | first %}
  {% assign collaborator_url = collaborator_pair | last %}
  {% cycle 'open collaborator rows': '<div class="collaborator-container row">', nil, nil, nil %}
  <div class='collaborator-logo span3'>
    <a href='{{ collaborator_url }}'>
      <div class='vertical-centering outer'>
        <div class='vertical-centering middle'>
          <div class='vertical-centering inner collaborator {{ "collaborators-" | append: collaborator }}'></div>
        </div> <!-- ends .middle -->
      </div> <!-- ends .outer -->
    </a>
  </div>
  {% cycle 'close collaborator rows': nil, nil, nil, '</div> <!-- ends div.collaborator-container.row -->' %}
  {% if forloop.last and forloop.length-forloop.index*(forloop.length/forloop.index) != 0 %}
  </div> <!-- ends div.collaborator-container.row -->
  {% endif %}
  {% endfor %}
</div> <!-- ends div#collaborators -->
