/* line 3, ../scss/site.scss */
body {
  background-color: #f9fafb;
}

/* line 7, ../scss/site.scss */
a:hover {
  text-decoration: none;
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  -o-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}

/* line 12, ../scss/site.scss */
.page-title {
  width: 100%;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

/* line 19, ../scss/site.scss */
#content {
  padding-top: 3em;
}

/* line 23, ../scss/site.scss */
#logotype {
  font-family: "adelle-1", "adelle-2", Georgia, serif;
  font-size: 1.125em;
  text-align: right;
  line-height: 1.5em;
}

/* line 30, ../scss/site.scss */
#mission {
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
  font-size: 0.5em;
  line-height: 1.25em;
  text-align: justify;
}
/* line 31, ../scss/site.scss */
#mission p {
  max-width: 531px;
}

/* line 40, ../scss/site.scss */
.splash #logotype {
  margin-top: -0.375em;
  padding-bottom: 0.4375em;
}

/* line 45, ../scss/site.scss */
#nav {
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
  font-size: 0.5em;
  line-height: 3.25em;
}

/* line 52, ../scss/site.scss */
#nav ul {
  list-style-type: none;
  letter-spacing: -0.03125em;
  text-align: left;
}
/* line 57, ../scss/site.scss */
#nav li {
  display: inline-block;
  text-align: center;
  padding: 0em;
  padding-right: 1.75em;
  font-size: 1.25em;
  line-height: 0.375em;
}

/* line 67, ../scss/site.scss */
header, footer {
  background: #13a93f;
  background: rgba(19, 169, 63, 0.9);
}
/* line 69, ../scss/site.scss */
header a, footer a {
  color: #cbd4dc;
}
/* line 72, ../scss/site.scss */
header a:hover, footer a:hover {
  color: #555;
}

/* line 78, ../scss/site.scss */
header {
  width: 100%;
  font-size: 3em;
  line-height: 1em;
  box-shadow: inset 0px -3px 5px #555555;
  border-top: 4px solid #3c3c3c;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  behavior: url(/assets/PIE.htc);
}
/* line 79, ../scss/site.scss */
header #logotype a {
  text-shadow: 0 1px 1px #aaaaaa;
  text-decoration: none;
  color: #333333;
  margin-right: -2px;
}
/* line 84, ../scss/site.scss */
header #logotype a:hover {
  color: black;
}
/* line 89, ../scss/site.scss */
header #nav ul li.active > a {
  color: #555;
}
/* line 102, ../scss/site.scss */
header.splash {
  padding-top: 1.25em;
  padding-bottom: 0.6875em;
}
/* line 105, ../scss/site.scss */
header.splash #logotype {
  text-align: right;
}
/* line 109, ../scss/site.scss */
header.splash #nav {
  margin-top: -0.875em;
}
/* line 111, ../scss/site.scss */
header.splash #nav ul {
  text-align: right;
}
/* line 114, ../scss/site.scss */
header.splash #nav li {
  padding: 0;
  padding-left: 1.75em;
  text-align: right;
}
/* line 118, ../scss/site.scss */
header.splash #nav li:first-child {
  padding-left: 0em;
}
/* line 125, ../scss/site.scss */
header #nav ul {
  margin-left: 0;
}

/* line 130, ../scss/site.scss */
.fadeout {
  position: absolute;
  bottom: 0em;
  width: 100%;
  height: 50%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(249, 250, 251, 0)), color-stop(100%, #f9fafb));
  background: -webkit-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: -moz-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: -o-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  behavior: url(/assets/PIE.htc);
}

/* line 139, ../scss/site.scss */
.even .fadeout {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(249, 250, 251, 0)), color-stop(100%, #f9fafb));
  background: -webkit-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: -moz-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: -o-linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
  background: linear-gradient(rgba(249, 250, 251, 0) 0%, #f9fafb 100%);
}

/* line 143, ../scss/site.scss */
.odd .fadeout {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.06125)));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06125) 100%);
  background: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06125) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06125) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.06125) 100%);
}

/* line 147, ../scss/site.scss */
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: -1em;
  /* TODO hack, why needed? */
  border-bottom: 4px solid #333333;
  font-size: 3em;
  line-height: 1em;
  box-shadow: inset 0px 3px 5px #555555;
  behavior: url(/assets/PIE.htc);
}
/* line 158, ../scss/site.scss */
footer .help-block {
  text-align: right;
  font-size: 0.375em;
  line-height: 1.125em;
  color: #555;
}
/* line 165, ../scss/site.scss */
footer blockquote {
  margin-top: 11.5px;
  border-left: none;
}
/* line 170, ../scss/site.scss */
footer #footer-quote {
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
  font-size: 0.4125em;
  line-height: 1.125em;
  margin-bottom: 1em;
}
/* line 177, ../scss/site.scss */
footer textarea#email-message {
  margin-top: 11px;
  /* TODO: hack */
  width: 356px;
}
/* line 183, ../scss/site.scss */
footer .legend {
  text-align: right;
  font-size: 0.5em;
  width: 100%;
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
  border-bottom: 1px dashed #cccccc;
}
/* line 191, ../scss/site.scss */
footer #sprout-elsewhere .legend {
  font-size: 1.25em;
  line-height: 1.25em;
  text-align: left;
  margin-bottom: 1em;
}
/* line 199, ../scss/site.scss */
footer #footer-connect-container div {
  margin-bottom: 0.645em;
}
/* line 202, ../scss/site.scss */
footer #footer-connect-container ul#elsewhere li a div {
  display: inline-block;
  margin-bottom: 0em;
}
/* line 208, ../scss/site.scss */
footer #lifestream {
  font-size: 0.895em;
  height: 352px;
}
/* line 213, ../scss/site.scss */
footer ul.lifestream {
  list-style-type: none;
  margin: 0;
  width: 95%;
  max-height: 352px;
  overflow: hidden;
}
/* line 219, ../scss/site.scss */
footer ul.lifestream li {
  margin-bottom: 1.25em;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  max-height: 4em;
  overflow: hidden;
  position: relative;
}
/* line 227, ../scss/site.scss */
footer ul.lifestream li > div {
  display: table;
}
/* line 231, ../scss/site.scss */
footer ul.lifestream .icon {
  position: absolute;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
  float: left;
  border-radius: 15px;
  opacity: 0.875;
  box-shadow: inset 0 0px 3px #888888;
  behavior: url(/assets/PIE.htc);
}
/* line 245, ../scss/site.scss */
footer .elsewhere-story {
  padding-left: 38px;
  /* = 30px + 0.5em */
  display: table-cell;
  vertical-align: middle;
  height: 30px;
}
/* line 253, ../scss/site.scss */
footer #sprout-elsewhere {
  margin-top: 25.75px;
}
/* line 257, ../scss/site.scss */
footer #scrapbook-lede {
  font-size: 0.75em;
  font-style: italic;
  text-align: right;
  line-height: 1.375em;
}
/* line 264, ../scss/site.scss */
footer #support-sprout hr {
  margin-top: -0.375em;
  margin-bottom: 1.55em;
}

/* line 270, ../scss/site.scss */
.section-summary {
  margin-bottom: 2em;
}

/* line 275, ../scss/site.scss */
.vertical-centering.outer {
  height: 270px;
  overflow: hidden;
  position: relative;
  display: table;
  position: static;
}
/* line 282, ../scss/site.scss */
.vertical-centering.middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
}

/* line 291, ../scss/site.scss */
hr.page-summary-delimiter {
  border-top: 1px solid #dddddd;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 297, ../scss/site.scss */
h2.page-section {
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
}

/* line 302, ../scss/site.scss */
.page-section h2 {
  font-size: 3.25em;
  margin-bottom: 1em;
}

/* line 307, ../scss/site.scss */
.page-summary p, .featurette-details p {
  text-align: justify;
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
  font-size: 1.75em;
  line-height: 1.25em;
  margin-top: 1em;
}

/* line 315, ../scss/site.scss */
h1 {
  margin-bottom: 0.5em;
  line-height: 1em;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/* line 324, ../scss/site.scss */
.page-section {
  margin-bottom: 7em;
}

/* line 328, ../scss/site.scss */
h1, h2 {
  text-align: center;
  font-family: "museo-slab-1", "museo-slab-2", Georgia, serif;
}

/* line 333, ../scss/site.scss */
h1 {
  font-size: 5em;
}

/* line 337, ../scss/site.scss */
.page-summary .page-title {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

/* line 343, ../scss/site.scss */
.page-section h2 {
  font-family: "adelle-1", "adelle-2", Georgia, serif;
  text-shadow: 0px 2px 3px white;
  color: #ccc;
}

/* line 349, ../scss/site.scss */
h1 > a:hover, h2 > a:hover, .article-info a:hover {
  text-decoration: none;
}

/* line 353, ../scss/site.scss */
.quote-author {
  text-align: right;
}
/* line 355, ../scss/site.scss */
.quote-author i {
  display: inline-block;
  vertical-align: middle;
}

/* line 362, ../scss/site.scss */
hr.section-divider {
  margin-top: 4em;
  margin-bottom: 4em;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 370, ../scss/site.scss */
html, body {
  padding: 0;
  /* for mobile devices */
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 379, ../scss/site.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
}

/* line 387, ../scss/site.scss */
#push {
  height: 200px;
}

@media (max-width: 480px) {
  /* line 392, ../scss/site.scss */
  #content {
    font-size: 0.8em;
    padding-top: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /* line 399, ../scss/site.scss */
  header.splash #mission {
    font-size: 0.375em;
    max-width: 480px;
    margin-right: 0px;
    margin-top: 2.75em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  /* line 406, ../scss/site.scss */
  header.splash #mission p {
    margin-right: 0px;
  }

  /* line 411, ../scss/site.scss */
  header.splash {
    padding: 0;
    padding-top: 1.25em;
    padding-bottom: 0.25em;
  }

  /* line 416, ../scss/site.scss */
  footer {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /* line 421, ../scss/site.scss */
  footer {
    height: 1650px;
  }

  /* line 425, ../scss/site.scss */
  footer input#tlemail {
    width: 76%;
  }
  /* line 428, ../scss/site.scss */
  footer fieldset {
    width: 100%;
  }
  /* line 431, ../scss/site.scss */
  footer textarea#email-message {
    width: 95%;
  }
  /* line 434, ../scss/site.scss */
  footer input#message-author {
    width: 76%;
  }

  /* line 439, ../scss/site.scss */
  header.non-splash #nav ul li:first-child, header.splash #nav ul li:first-child {
    padding-left: 0em;
  }

  /* line 444, ../scss/site.scss */
  header hr {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid white;
    display: block;
  }

  /* line 449, ../scss/site.scss */
  header.non-splash {
    padding: 0;
    padding-top: 1.25em;
    padding-bottom: 0.25em;
    height: 2em;
  }

  /* line 456, ../scss/site.scss */
  header.non-splash #logotype {
    position: absolute;
    top: 0.375em;
    text-align: center;
    width: 100%;
  }
  /* line 462, ../scss/site.scss */
  header.non-splash #nav {
    margin: 0em;
    margin-top: 1em;
    position: absolute;
    width: 100%;
    top: 3em;
  }
  /* line 468, ../scss/site.scss */
  header.non-splash #nav ul {
    line-height: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  /* line 473, ../scss/site.scss */
  header.non-splash #nav ul li {
    font-size: 0.875em;
    padding-left: 0.75em;
    padding-right: 0em;
  }

  /* line 482, ../scss/site.scss */
  header.splash #logotype {
    position: absolute;
    top: 0.375em;
    text-align: center;
    width: 100%;
  }
  /* line 488, ../scss/site.scss */
  header.splash #nav {
    margin: 0em;
    position: absolute;
    width: 100%;
    top: 3em;
  }
  /* line 493, ../scss/site.scss */
  header.splash #nav ul {
    line-height: 1em;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  /* line 498, ../scss/site.scss */
  header.splash #nav ul li {
    font-size: 0.875em;
    padding-left: 0.75em;
  }
}
