/* line 106, us/*.png */
.us-sprite, .us-alec-resnick-name, .us-alec-resnick, .us-bakhtiar-mikhak, .us-beth-osullivan, .us-john-bell, .us-michael-nagle-name, .us-michael-nagle, .us-shaunalynn-duffy-name, .us-shaunalynn-duffy {
  background: url('/img/us-sd1f99c1a1f.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-alec-resnick-name {
  background-position: 0 0;
  height: 49px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-alec-resnick {
  background-position: -300px 0;
  height: 300px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-bakhtiar-mikhak {
  background-position: -600px 0;
  height: 300px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-beth-osullivan {
  background-position: -900px 0;
  height: 300px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-john-bell {
  background-position: -1200px 0;
  height: 300px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-michael-nagle-name {
  background-position: -1500px 0;
  height: 61px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-michael-nagle {
  background-position: -1800px 0;
  height: 300px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-shaunalynn-duffy-name {
  background-position: -2100px 0;
  height: 47px;
  width: 300px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.us-shaunalynn-duffy {
  background-position: -2400px 0;
  height: 300px;
  width: 300px;
}

/* line 170, work/*.png */
.work-sprite, .work-byg2md, .work-ecomodding_your_home, .work-engineering_the_wind, .work-flutes_and_waves, .work-magnetic_machines, .work-overthinking_board_games, .work-parade_floats, .work-playing_math, .work-quantified_self, .work-science_of_sourdough, .work-signs_of_life, .work-simulation_and_nature_in_design, .work-somerville_steam_academy, .work-sprout_spaghetti_dinners, .work-streetbeest, .work-turtle_geometry, .work-unlocking_locks {
  background: url('/img/work-s9c31292b4d.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-byg2md {
  background-position: 0 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-ecomodding_your_home {
  background-position: -250px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-engineering_the_wind {
  background-position: -500px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-flutes_and_waves {
  background-position: -750px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-magnetic_machines {
  background-position: -1000px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-overthinking_board_games {
  background-position: -1250px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-parade_floats {
  background-position: -1500px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-playing_math {
  background-position: -1750px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-quantified_self {
  background-position: -2000px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-science_of_sourdough {
  background-position: -2250px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-signs_of_life {
  background-position: -2500px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-simulation_and_nature_in_design {
  background-position: -2750px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-somerville_steam_academy {
  background-position: -3000px 0;
  height: 252px;
  width: 252px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-sprout_spaghetti_dinners {
  background-position: -3252px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-streetbeest {
  background-position: -3502px 0;
  height: 250px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-turtle_geometry {
  background-position: -3752px 0;
  height: 249px;
  width: 250px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.work-unlocking_locks {
  background-position: -4002px 0;
  height: 250px;
  width: 250px;
}

/* line 194, work/collaborators/*.png */
.collaborators-sprite, .collaborators-artists_in_context, .collaborators-artscience, .collaborators-city_of_somerville, .collaborators-eliot_school, .collaborators-eyethink, .collaborators-ginger_io, .collaborators-google, .collaborators-harvard_laboratory, .collaborators-jaffrey_rindge, .collaborators-maimonides, .collaborators-mass_dot, .collaborators-mit, .collaborators-mit_sloan, .collaborators-parts_and_crafts, .collaborators-redhat, .collaborators-shady_hill_school, .collaborators-somerville_public_schools, .collaborators-tremont_school, .collaborators-tufts, .collaborators-umass_boston {
  background: url('/img/work/collaborators-s279ce2f2ea.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-artists_in_context {
  background-position: 0 0;
  height: 50px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-artscience {
  background-position: -202px 0;
  height: 63px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-city_of_somerville {
  background-position: -404px 0;
  height: 202px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-eliot_school {
  background-position: -606px 0;
  height: 202px;
  width: 173px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-eyethink {
  background-position: -779px 0;
  height: 184px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-ginger_io {
  background-position: -981px 0;
  height: 36px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-google {
  background-position: -1183px 0;
  height: 72px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-harvard_laboratory {
  background-position: -1385px 0;
  height: 201px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-jaffrey_rindge {
  background-position: -1587px 0;
  height: 52px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-maimonides {
  background-position: -1789px 0;
  height: 49px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-mass_dot {
  background-position: -1991px 0;
  height: 35px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-mit {
  background-position: -2193px 0;
  height: 105px;
  width: 203px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-mit_sloan {
  background-position: -2396px 0;
  height: 202px;
  width: 174px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-parts_and_crafts {
  background-position: -2570px 0;
  height: 95px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-redhat {
  background-position: -2772px 0;
  height: 202px;
  width: 183px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-shady_hill_school {
  background-position: -2955px 0;
  height: 199px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-somerville_public_schools {
  background-position: -3157px 0;
  height: 210px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-tremont_school {
  background-position: -3359px 0;
  height: 119px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-tufts {
  background-position: -3561px 0;
  height: 62px;
  width: 202px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.collaborators-umass_boston {
  background-position: -3763px 0;
  height: 203px;
  width: 150px;
}

/* line 122, web/*.png */
.web-sprite, .web-email-small, .web-email, .web-facebook-small, .web-facebook, .web-feed-small, .web-feed, .web-sprout-map, .web-tumblr-small, .web-tumblr, .web-twitter-small, .web-twitter {
  background: url('/img/web-s1647a016ff.png') no-repeat;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-email-small {
  background-position: 0 0;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-email {
  background-position: -30px 0;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-facebook-small {
  background-position: -100px 0;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-facebook {
  background-position: -130px 0;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-feed-small {
  background-position: -200px 0;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-feed {
  background-position: -230px 0;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-sprout-map {
  background-position: -300px 0;
  height: 235px;
  width: 369px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-tumblr-small {
  background-position: -669px 0;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-tumblr {
  background-position: -699px 0;
  height: 70px;
  width: 70px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-twitter-small {
  background-position: -769px 0;
  height: 30px;
  width: 30px;
}

/* line 60, ../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.web-twitter {
  background-position: -799px 0;
  height: 70px;
  width: 70px;
}
