<p>
  Inspired by long traditions of recreational mathematics epitomized by folks like <a href='http://www.amazon.com/dp/0486281523'>Martin Gardner</a>, <i>Playing Math!</i> digs into the real mathematics found in games &amp; puzzles.  We've run many instances of this program: independently, with homeschooling co-ops, in afterschool program.  No matter where we're working though, the focus is on developing our own mathematical intuitions&mdash;for everything from graph theory to topology&mdash;by engaging the mathematics head-on and hands-on.
</p>
