<p>
  Moving from fluid dynamics to mechanical engineering to electrical engineering and back again, <i>Engineering the Wind</i> is a program run independently at sprout and in partnership with MIT &amp; Tufts.  Led by two, professional wind engineers, participants work in small groups to design, build, test, and characterize each subsystem.  The group builds a personal-scale (on the order of kilowatts) wind turbine, splitting time between the fundamental physics of wind turbines &amp; shop time <em>building</em> the thing.
</p>
