<!DOCTYPE html>
<html>
  <head>
    <title>sprout &amp; co {% if page.title %}:: {{ page.title }} {% endif %}</title>

    {% css_asset_tag app %}
    - /_assets/css/vendor/bootstrap.min.css
    - /_assets/css/vendor/bootstrap-responsive.css
    - /_assets/css/app/sprites.css
    - /_assets/css/app/style.css
    {% endcss_asset_tag %}

    {% include typekit.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/atom+xml" title="pollen : sprout's blog" href="atom.xml" />
  </head>
  <body>
      {% if page.is_splash %}
        {% include splash_banner.html %}
      {% else %}
        {% include banner.html %}
      {% endif %}

    <div id='wrap'>
    <div class='container'>
      <div class='row'>
        <div id='content' class='span12'>
          {{ content | clean_typography }}
        </div> <!-- ends div#content -->
      </div> <!-- ends div.row -->
    </div> <!-- ends div.container -->

    <div id="push"></div>
    </div> <!-- ends div#wrap -->

    {% include footer.html %}

    {% javascript_asset_tag app %}
    - /_assets/js/jquery.min.js
    - /_assets/js/bootstrap.min.js
    - /_assets/js/jquery.lifestream.min.js
    - /_assets/js/jquery.autoellipsis-1.0.10.min.js
    - /_assets/js/contact_form.js
    - /_assets/js/lifestream.js
    {% endjavascript_asset_tag %}

    {% raw %}
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML.js">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showMathMenu: false,
        delayStartupUntil: "onload",
        showProcessingMessages: false,
        messageStyle: "none",
      });
    </script>
    {% endraw %}
  </body>
</html>